{% extends "homepage/layout.html" %}
{% load static %}
{% block body %}

<div class="logo">
    <img src="{% static 'homepage/media/logo.png' %}" alt="logo" />
</div>
        <div class="nav-container">
            {% if user.is_authenticated %}
                <ul>
                    {% if user.first_name %}
                        <li>Hello {{ user.first_name }}</li>
                    {% else %}
                        <li>Hello {{ user.username }}</li>
                    {% endif %}

                        <li style="float:right"><a href="{% url 'user_auth:signout'  %}">Sign Out</a></li>
                </ul>
            {% else %}
                <ul>
                    <li style="float:right"><a href="{% url 'user_auth:signin'  %}">Sign In</a></li>
                </ul>
            {% endif %}
        </div>
        <div class="container">

        </div>
{% endblock %}